body {
  font-family: 'Roboto', sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin: 1em;
}

.facebook-login-button {
  margin-bottom: 1.5em;
  margin-top: 0.75em;
}

.register-button {
  margin: 1em;
}

.login-register {
  width: 40vw;
}

@media only screen and (max-width: 500px) {
  .login-register {
    width: 100vw;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Screen */
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  height: 60vh;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 50vw;
}

.timer-icon {
  margin-bottom: 0.1em;
}

.timer-count {
  margin: 0.25em;
}

.game-button {
  margin: 1em;
}

.timer {
  margin: 0.2em;
}

/* Nav Menu */
.nav-menu {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Login sizing/styling for mobile/desktop */
@media (min-width: 426px) {
  .login-register {
    margin-top: 7em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1;
  }
}

a {
  color: white;
}

/* Your Beer Screen */
.your-beer-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.your-beer-submit {
  margin: 2em;
}

/* Vote Screen */
.vote-header {
  margin-bottom: 0em;
}

.vote-subheader {
  margin: 0em;
}

.vote-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
